<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




    <% users.forEach((person)=>{ %>

       <div class="" style="background-color: black; color: aliceblue; margin: 15px;">
         <div class=""><%=person.name %></div>
         <div class=""><%=person.email %></div>
          <div class=""><%=person.age %></div>
       </div>

    <%  })%>
    
</body>
</html>